{% extends 'web3/base.html'%}
{% load i18n %}
{% load static %}
{% block content %}

<div class="wrapper">
  <section class="section__control">
    <div class="general__container">
      <div class="control">
        <a href="#" onclick="history.go(-1)" class="control__back">
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.5 10L12.5 15L17.5 20" stroke="#FF1700" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
        <!-- /.control__back -->
        
      </div>
      <!-- /.progress -->
    </div>
    <!-- /.general__container -->
    <div class="control__progress">
      <span class="progress" style="width: 55%;"></span>
      <!-- /.progress -->
    </div>
    <!-- /.control__progress -->
  </section>
  <!-- /.section__progress -->

  <section class="section__comment">
    <div class="general__container">
      <div class="comment">
        <h2 class="general__title">{% translate 'description_name' %}</h2>
        <!-- /.general__title -->
        <form action="" class="comment__form" name="general__form" method="post">
          {% csrf_token %}
          <label for="comment__input" class="comment__box">
            <textarea name="description" id="comment__input" class="general-R" cols="30" rows="10" placeholder="{% translate 'description' %}"></textarea>
          </label>
          <!-- /.mileage__box -->
          <button class="general__next" id="submit" type="submit">{% translate 'continue' %}</button>
          <!-- /.general__next -->
        </form>
        <!-- /.mileage__form -->
      </div>
      <!-- /.mileage -->
    </div>
    <!-- /.general__container -->
  </section>
  <!-- /.section__mileage -->

</div>
{% endblock content %}