
{% extends 'web3/base.html'%}
{% load static %}
{% load i18n %}
{% block content %}
<div class="wrapper">
  <section class="section__control">
    <div class="general__container">
      <div class="control">
      </div>
      <!-- /.progress -->
    </div>
    <!-- /.general__container -->
  </section>
  <!-- /.section__progress -->

  <section class="section__success">
    <div class="general__container ">
      <div class="success">
        <div class="success__container">
          <svg width="275" height="233" viewBox="0 0 275 233" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_ii_180_4840)">
              <circle cx="134.694" cy="122.668" r="74.5627" fill="white"/>
            </g>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M72.7561 106.071C81.9255 71.8505 117.085 51.5641 151.29 60.7294C185.496 69.8947 205.802 105.043 196.632 139.264C187.463 173.485 152.303 193.772 118.098 184.606C83.8926 175.441 63.5867 140.292 72.7561 106.071ZM123.087 147.744C124.132 149.683 126.562 150.417 128.516 149.364C129.102 149.065 169.183 108.771 169.183 108.771C170.739 107.238 170.747 104.668 169.177 103.127C167.613 101.546 165.071 101.57 163.515 103.103L127.267 139.362L112.831 122.876C111.783 120.936 109.353 120.202 107.399 121.255C105.455 122.269 104.71 124.725 105.758 126.665L123.087 147.744Z" fill="#FF1700"/>
            <circle cx="230.904" cy="100.219" r="4.8105" fill="#FF1700"/>
            <circle cx="37.6821" cy="173.979" r="4.8105" fill="#FF1700"/>
            <circle cx="74.5625" cy="215.67" r="3.207" fill="#FF1700"/>
            <circle cx="59.3296" cy="57.726" r="3.207" fill="#FF1700"/>
            <circle cx="118.659" cy="31.268" r="3.207" fill="#FF1700"/>
            <circle cx="206.852" cy="53.7173" r="3.207" fill="#FF1700"/>
            <circle cx="46.5014" cy="21.6474" r="3.207" fill="#FF1700"/>
            <circle cx="3.207" cy="92.2011" r="3.207" fill="#FF1700"/>
            <circle cx="254.155" cy="70.5541" r="4.8105" fill="#FF1700"/>
            <circle cx="208.455" cy="9.62104" r="4.8105" fill="#FF1700"/>
            <circle cx="4.8105" cy="4.8105" r="4.8105" transform="matrix(-1 0 0 1 30.4663 60.9331)" fill="#FF1700"/>
            <circle cx="4.8105" cy="4.8105" r="4.8105" transform="matrix(-1 0 0 1 25.6558 137.901)" fill="#FF1700"/>
            <circle cx="4.8105" cy="4.8105" r="4.8105" transform="matrix(-1 0 0 1 173.979 29.6646)" fill="#FF1700"/>
            <circle cx="4.8105" cy="4.8105" r="4.8105" transform="matrix(-1 0 0 1 82.5801 20.0439)" fill="#FF1700"/>
            <circle cx="4.8105" cy="4.8105" r="4.8105" transform="matrix(-1 0 0 1 226.093 161.151)" fill="#FF1700"/>
            <circle cx="246.137" cy="133.09" r="3.207" fill="#FF1700"/>
            <circle cx="230.904" cy="26.4575" r="3.207" fill="#FF1700"/>
            <circle cx="156.341" cy="4.81051" r="3.207" fill="#FF1700"/>
            <circle cx="159.548" cy="229.3" r="3.207" fill="#FF1700"/>
            <circle cx="271.793" cy="172.376" r="3.207" fill="#FF1700"/>
            <circle cx="118.659" cy="3.207" r="3.207" fill="#FF1700"/>
            <circle cx="37.6821" cy="106.633" r="3.207" fill="#FF1700"/>
            <circle cx="227.697" cy="223.688" r="3.207" fill="#FF1700"/>
            <defs>
              <filter id="filter0_ii_180_4840" x="60.1313" y="46.105" width="149.125" height="153.125" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="2"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.844607 0 0 0 0 0.844607 0 0 0 0 0.844607 0 0 0 0.298547 0"/>
                <feBlend mode="normal" in2="shape" result="effect1_innerShadow_180_4840"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="-2"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0.843137 0 0 0 0 0.843137 0 0 0 0 0.843137 0 0 0 0.3 0"/>
                <feBlend mode="normal" in2="effect1_innerShadow_180_4840" result="effect2_innerShadow_180_4840"/>
              </filter>
            </defs>
          </svg>
          <h2 class="general__title">{% translate 'thaks_your_ad' %}</h2>
          <!-- /.general__title -->
        </div>
        <!-- /.success__container -->
        <a href="{% url 'web3:my-ads' user_id=request.user.id %}" class="general__next">{% translate 'my_ads' %}</a>
        <!-- /.general__next -->
      </div>
      <!-- /.success -->
    </div>
    <!-- /.general__container-->
  </section>
  <!-- /.section__success -->

</div>
<!-- /.wrapper -->
{% endblock content %}