{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'libs/multiselect/multi-select.css' %}"  rel="stylesheet" type="text/css" />
<link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block content %}
<div class="layout-page">
    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
        </h4>
        <div class="col-md-12">
            <div class="card mb-4">
             <h5 class="card-header">Qiymat qo'shish</h5>
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row card-body col-md-12">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                {{ form.label_uz.errors }}
                                <label class="form-control-label" for="{{ form.label_uz.id_for_label }}">{{ form.label_uz.label }}</label>
                                {{ form.label_uz }}

                            </div>
                            <div class="form-group col-md-6">
                                {{ form.label_ru.errors }}
                                <label class="form-control-label" for="{{ form.label_ru.id_for_label }}">{{ form.label_ru.label }}</label>
                                {{ form.label_ru }}
                            </div>
                        </div>
                         <div class="row mb-3">
                            <div class="form-group col-md-6">
                                {{ form.image.errors }}
                                <label class="form-control-label" for="{{ form.image.id_for_label }}">{{ form.image.label }}</label>
                                {{ form.image }}

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                {{ form.parent.errors }}
                                <label class="form-control-label" for="{{ form.parent.id_for_label }}">{{ form.parent.label }}</label>
                                {{ form.parent }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                <div id="id_col_for_entities">
                                <div class="form-group">
                                    {{ form.category_entities.errors }}
                                    <label class="form-control-label" for="{{ form.category_entities.id_for_label }}">{{ form.category_entities.label }}</label>
                                    {{ form.category_entities }}
                                    <input type="hidden" name="multiple_value" id="multiple_value"  />
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
                        <a href="{% url 'dashboard:category-list' %}" type="reset" class="btn btn-label-secondary">Cancel</a>
                    </div>
                </div>
            </form>

              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'libs/multiselect/jquery.multi-select.js' %}"></script>
<script src="{% static 'libs/select2/select2.min.js' %}"></script>
<script src="{% static 'libs/jquery-quicksearch/jquery.quicksearch.min.js' %}"></script>
{% endblock javascript %}