{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">
<link rel="stylesheet" href="{% static 'libs/select2/select2.css'%}">
<link rel="stylesheet" href="{% static 'libs/tagify/tagify.css'%}">
<link rel="stylesheet" href="{% static 'libs/bootstrap-select/bootstrap-select.css'%}">
<link rel="stylesheet" href="{% static 'libs/typeahead-js/typeahead.css'%}">
{% endblock css %}
{% block content %}
<div class="layout-page">
    <!-- Content wrapper -->
    <div class="content-wrapper">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 breadcrumb-wrapper mb-4">
        </h4>
        <div class="col-md-12">
            <div class="card mb-4">
             <h5 class="card-header">Default</h5>
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row card-body col-md-12">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <h4 class="mb-0 ">Asosiy maydonlar</h4>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                {{ form.category.errors }}
                                <label class="form-control-label" for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
                                {{ form.category }}
                            </div>
                            {% if model.marka %}
                            <div id="id_markk">
                                <div class="form-group">
                                    {{ form.marka.errors }}
                                    <label class="form-control-label" for="{{ form.marka.id_for_label }}">{{ form.marka.label }}</label>
                                    {{ form.marka }}
                                </div>
                            </div>
                            {% endif %}
                            <div id="id_madel">
                            {% if model.model and model.marka %}
                            <div class="form-group">
                                {{ form.model.errors }}
                                <label class="form-control-label" for="{{ form.model.id_for_label }}">{{ form.model.label }}</label>
                                {{ form.model }}
                            </div>
                            {% endif %}
                            </div>
                            <div id="id_position">
                            {% if model.positsion and model.model and model.marka %}
                                <div class="form-group">
                                    {{ form.positsion.errors }}
                                    <label class="form-control-label" for="{{ form.positsion.id_for_label }}">{{ form.positsion.label }}</label>
                                    {{ form.positsion }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                {{ form.title.errors }}
                                <label class="form-control-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                                {{ form.title }}

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                {{ form.description.errors }}
                                <label class="form-control-label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                {{ form.description }}

                            </div>
                        </div>
                        <div class="row mb-3">
                                 <label class="form-control-label" for="id_file">Rasmlar</label>
                                        <div class="row" id="id_images_div">
                                            {{ formset.management_form }}
                                            {% for file_form in formset %}
                                                <div class="col-md-4 mb-3">
                                                    {{ file_form.file }}
                                                </div>
                                            {% endfor %}
                                        </div>
                              </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                {{ form.region.errors }}
                                <label class="form-control-label" for="{{ form.region.id_for_label }}">{{ form.region.label }}</label>
                                {{ form.region }}

                            </div>
                            <div class="form-group col-md-6" id="id_district_field">
                                {{ form.district.errors }}
                                <label class="form-control-label" for="{{ form.district.id_for_label }}">{{ form.district.label }}</label>
                                {{ form.district }}

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <input type="hidden" name="user" id="id_user" value="{{ model.user.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="form-group col-md-6">
                                {{ form.phone_number.errors }}
                                <label class="form-control-label" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                                <h4 class="mb-0" id="id_dynamic_title">Kategoriya qo'shimcha maydonlari</h4>
                            </div>
                        <div class="card-body" id="id_dynamic_fields">
                            {% if form.category.value %}
                                {% for form_d in form.get_fields %}
                                     <div class="form-group">
                                        {{ form_d.errors }}
                                        <label class="form-control-label" for="{{ form_d.id_for_label }}">{{ form_d.label }}</label>
                                        {{ form_d }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-body row">
                            <div class="form-group col-md-8">
                                {{ form.price.errors }}
                                <label class="form-control-label" for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                                {{ form.price }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ form.currency.errors }}
                                <label class="form-control-label" for="{{ form.currency.id_for_label }}">{{ form.currency.label }}</label>
                                {{ form.currency }}
                            </div>
                        </div>
                        <div class="card-body row">
                            <div class="form-group col-md-12">
                                {{ form.torg.errors }}
                                <label class="form-control-label" for="{{ form.torg.id_for_label }}">{{ form.torg.label }}</label>
                                {{ form.torg }}
                            </div>
                            
                        </div>
                    </div>
                    <div class="pt-4">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1">Save</button>
                        <a href="{% url 'dashboard:category-list' %}" type="reset" class="btn btn-label-secondary">Cancel</a>
                    </div>
                </div>
            </form>

              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<script src="{% static 'libs/select2/select2.js'%}"></script>
<script src="{% static 'libs/tagify/tagify.js'%}"></script>
<script src="{% static 'libs/bootstrap-select/bootstrap-select.js'%}"></script>
<script src="{% static 'libs/typeahead-js/typeahead.js'%}"></script>
<script src="{% static 'libs/bloodhound/bloodhound.js'%}"></script>
<script>
    const selected = "{{ form.get_selected_attributes }}".split(" ");
    selected.forEach(item => {
        $("#id_values option").each(function(){
            var thisOptionValue = $(this).val();
            if(item===thisOptionValue){
                this.selected = true
            }
        });
    })
</script>
<script>
    $(document).ready(function(){
        $('.select2-container .select2-selection--single').height(40);
        $('.select2-container--default .select2-selection--single .select2-selection__arrow').css({ top: '10px' });
    });
</script>
<script>
var files = [{% for file in files_list %}{% if forloop.counter == files_list|length %}"{{ file }}"{% else %}"{{ file }}",{% endif %}{% endfor %}];
for (var i=0; i<files.length; i++){
    $(".dropify").each(function(index, obj) {
        if(i == index){
            $(obj).attr("data-default-file", files[i]);
        }
    });
}
</script>
<script>
    $(".dropify").dropify(
        {
            messages:{
                default:"Rasm tanlang",
                remove:"O'chirish",
                error:"Xatolik yuz berdi!"
            }
        }
    );
    $('.dropify-clear').click(function(e){
        e.preventDefault();
        var a = $(this).parent().find('input[name*="form-"]').first();
        var isExist = false;
        $("#id_images_div").find('input[name*="deleted_images[]"]').each(function () {
            if(this.value == a.attr("id").split("-")[1]){
                isExist = true;
            }
        });
        if(isExist != true){
            $('#id_images_div').append('<input type="hidden" name="deleted_images[]" value="' + a.attr("id").split("-")[1] +'">');
        }
    });
</script>
<script>
    $("#{{ form.category.auto_id }}").change(function(e){
        var selected_value = $("#{{ form.category.auto_id }} option:selected" ).val()
        var selected_value_title = $("#{{ form.category.auto_id }} option:selected" ).text()

        if (selected_value === ''){
            $("#id_dynamic_fields").html("");
            $("#id_dynamic_title").html("Kategoriya qo'shimcha maydonlari");
        }
        else{
            $.ajax({
                type: 'GET',
                url: "{% url 'dashboard:ads-create' %}",
                data: {"category_id": selected_value },
                success: function (response) {
                    $("#id_dynamic_fields").html(response);
                    $("#id_dynamic_title").html("\"<b>" + selected_value_title + "</b>\" kategoriya maydonlari");
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }
    });
    $("#{{ form.region.auto_id }}").change(function(e){
        var selected_value = $("#{{ form.region.auto_id }} option:selected" ).val()
        var selected_value_title = $("#{{ form.region.auto_id }} option:selected" ).text()
        $.ajax({
            type: 'GET',
            url: "{% url 'dashboard:ads-create' %}",
            data: {"region_id": selected_value },
            success: function (response) {
                $("#id_district_field").html(response);
            },
            error: function (error) {
                console.log(error);
            }
        })
    });
</script>
<script>
    function FieldSelect(a, b){
        console.log(a, b);
        $.ajax({
            type: 'GET',
            url: "{% url 'dashboard:ads-field' %}",
            data: {"field_id": a, "value_id": b},
            success: function (response) {
                if (response){
                    let slug = "id_"+ response.slug
                    var field = $("#"+slug);
                    field.html("");
                    values = response.values
                    for (let i = 0; i < values.length; i++) {
                        field.append($("<option>").attr("value", values[i].value).html(values[i].label.label_uz))
                    }
            }
            },
        })
    }

</script>
<script>

    $("#id_madel").change(function(e){
        var selected_value = $("#id_madel option:selected" ).val()
        var selected_value_title = $("#id_madel option:selected" ).text()
        console.log("model", selected_value, selected_value_title)
        $.ajax({
            type:'GET',
            url:window.location.origin + '/api/tg/eav/field/' + selected_value + '/positsion/',
            success:function(response){
                const conteyner = document.getElementById('id_position');
                var _html = '';
                var response_item = response.items;
                _html += `<label class="form-control-label" for="id_marka">Positsiyasini tanlang</label>`
                if(response_item.length != 0){
                    document.getElementById('id_position').style.display = 'block';
                    _html += `<div class="form-group"><select name="positsion" class="form-control" id="id_marka" required>`;
                    for(let i = 0; i < response_item.length; i++){
                        _html += `<option value="` + response_item[i].id + `">` + response_item[i].label.label_uz +`</option>`;
                    }
                    _html += `</select></div>`;
                     conteyner.innerHTML = _html;
                }else{
                    document.getElementById('id_position').style.display = 'none';
                }
            }
        })

    });

    $("#id_markk").change(function(e){
        var selected_value = $("#id_markk option:selected" ).val()
        var selected_value_title = $("#id_markk option:selected" ).text()

        $.ajax({
            type:'GET',
            url:window.location.origin + '/api/tg/eav/field/' + selected_value + '/madel/',
            success:function(response){
                const conteyner = document.getElementById('id_madel');
                var _html = '';
                var response_item = response.items;
                _html += `<label class="form-control-label" for="id_marka">Modelini tanlang tanlang</label>`
                if(response_item.length != 0){
                    document.getElementById('id_madel').style.display = 'block';
                    _html += `<div class="form-group"><select name="model" class="form-control" id="id_marka" required>`;
                    _html += `<option value="-">Modelini tanlang</option>`;
                    for(let i = 0; i < response_item.length; i++){
                        _html += `<option value="` + response_item[i].id + `">` + response_item[i].label.label_uz +`</option>`;
                    }
                    _html += `</select></div>`;
                     conteyner.innerHTML = _html;
                }else{
                    document.getElementById('id_madel').style.display = 'none';
                }
            }
        })


    });

    $("#id_category").change(function(e){
        var selected_value = $("#id_category option:selected" ).val()
        var selected_value_title = $("#id_category option:selected" ).text()

        console.log("selected_value",selected_value)
        console.log("selected_value_title", selected_value_title)

        if (selected_value === ''){
            $("#id_dynamic_fields").html("");
            $("#id_dynamic_title").html("Kategoriya qo'shimcha maydonlari");
        }
        else{
            document.getElementById('id_madel').style.display = 'none';
            document.getElementById('id_markk').style.display = 'none';
            document.getElementById('id_position').style.display = 'none';
            $.ajax({
                type: 'GET',
                url: window.location.origin + "/api/v1/eav/category/" + selected_value + "/info/",
                success: function (response) {
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'dashboard:ads-create' %}",
                        data: {"category_id": selected_value, "marka":response.marka},
                        success: function (response) {
                            $("#id_dynamic_fields").html(response);
                            $("#id_dynamic_title").html("\"<b>" + selected_value_title + "</b>\" kategoriya maydonlari");
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                },
                error: function (error) {
                    console.log(error);
                    $("#id_dynamic_fields").html(response);
                    $("#id_dynamic_title").html("\"<b>" + selected_value_title + "</b>\" kategoriya maydonlari");
                }
            })

            $.ajax({
                type:'GET',
                url:window.location.origin + '/api/tg/eav/field/' + selected_value + '/marka/',
                success:function(response){
                    const conteyner = document.getElementById('id_markk');
                    var _html = '';
                    var response_item = response.items;
                    _html += `<label class="form-control-label" for="id_marka">Markasini tanlang</label>`
                    if(response_item.length != 0){
                        document.getElementById('id_markk').style.display = 'block';
                        _html += `<div class="form-group"><select name="marka" class="form-control" id="id_marka" required>`;
                         _html += `<option value="-">Markasini tanlang</option>`;
                        for(let i = 0; i < response_item.length; i++){
                            _html += `<option value="` + response_item[i].id + `">` + response_item[i].label.label_uz +`</option>`;
                        }
                        _html += `</select></div>`;
                         conteyner.innerHTML = _html;
                    }else{
                        document.getElementById('id_markk').style.display = 'none';
                    }
                }
            })
        }
    });

    $("#id_marka").change(function(e){
        var selected_value = $("#id_marka option:selected" ).val();
        var selected_value_title = $("#id_marka option:selected" ).text();
        console.log("??????", selected_value, selected_value_title)
    });

    $("#{{ form.region.auto_id }}").change(function(e){
        var selected_value = $("#{{ form.region.auto_id }} option:selected" ).val()
        var selected_value_title = $("#{{ form.region.auto_id }} option:selected" ).text()
        $.ajax({
            type: 'GET',
            url: "{% url 'dashboard:ads-create' %}",
            data: {"region_id": selected_value },
            success: function (response) {
                $("#id_district_field").html(response);
            },
            error: function (error) {
                console.log(error);
            }
        })
    });
</script>
{% endblock javascript %}