<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>AVTOPIK</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#FF1700">
    <meta name="keywords" content=""/>
    <meta name="author" content="Novas"/>
    <meta name="google-site-verification" content=""/>
    <!--=======css Links======-->
    <!--    <link rel="manifest" href="img/favicon/site.webmanifest">-->
    <!-- App favicon -->
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/fancybox.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/avtopik.css">
</head>
<body>

<div class="wrapper">
    <section class="section__control">
        <div class="general__container">
            <div class="control">
                <a href="#" class="control__back">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.5 10L12.5 15L17.5 20" stroke="#FF1700" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </a>
                <!-- /.control__back -->
                <h3 class="control__name general-DB">Tariflar</h3>
                <button type="button" class="control__close">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 10L20 20" stroke="#FF1700" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M20 10L10 20" stroke="#FF1700" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            <!-- /.progress -->
        </div>
        <!-- /.general__container -->
        <div class="control__progress">
            <span class="progress" style="width: 20%;"></span>
            <!-- /.progress -->
        </div>
        <!-- /.control__progress -->
    </section>
    <!-- /.section__progress -->
    <section class="section__payment">
        <div class="general__container">
            <h2 class="general__title">Tariflar turini tanlang</h2>
            <!-- /.general__title -->
            <form action="" class="payment">
                <div class="payment__container">
                    <div class="payment__box">
                        <div class="payment__box-btn">
                            <input type="radio" name="payment__" id="payment__payme">
                            <!-- /# -->
                            <label for="payment__payme" class="payment__label">
                                <span class="payment__label-box">
                                    <span class="general__circle">
                                      <img src="../img/payment/1.png" alt="">
                                    </span>
                                    <!-- /.general__circle -->
                                    <span class="payment__name general-DB">Payme</span>
                                    <!-- /.payment__name -->
                                </span>
                                <!-- /.payment__label-box -->
                                <span class="payment__circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<path d="M20 6.5L9 17.5L4 12.5" stroke="#3994FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                                </span>
                                <!-- /.rate__circle -->
                            </label>
                            <!-- /.rate__label -->
                        </div>
                        <!-- /.rate__box-btn -->
                    </div>
                    <!-- /.rate__box -->
                    <div class="payment__box">
                        <div class="payment__box-btn">
                            <input type="radio" name="payment__" id="payment__click">
                            <!-- /# -->
                            <label for="payment__click" class="payment__label">
                                <span class="payment__label-box">
                                    <span class="general__circle">
                                      <img src="../img/payment/2.png" alt="">
                                    </span>
                                    <!-- /.general__circle -->
                                    <span class="payment__name general-DB">Click</span>
                                    <!-- /.payment__name -->
                                </span>
                                <!-- /.payment__label-box -->
                                <span class="payment__circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<path d="M20 6.5L9 17.5L4 12.5" stroke="#3994FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                                </span>
                                <!-- /.rate__circle -->
                            </label>
                            <!-- /.rate__label -->
                        </div>
                        <!-- /.rate__box-btn -->
                    </div>
                    <!-- /.rate__box -->
                    <div class="payment__box">
                        <div class="payment__box-btn">
                            <input type="radio" name="payment__" id="payment__upay">
                            <!-- /# -->
                            <label for="payment__upay" class="payment__label">
                                <span class="payment__label-box">
                                    <span class="general__circle">
                                      <img src="../img/payment/3.png" alt="">
                                    </span>
                                    <!-- /.general__circle -->
                                    <span class="payment__name general-DB">Upays</span>
                                    <!-- /.payment__name -->
                                </span>
                                <!-- /.payment__label-box -->
                                <span class="payment__circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
<path d="M20 6.5L9 17.5L4 12.5" stroke="#3994FF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                                </span>
                                <!-- /.rate__circle -->
                            </label>
                            <!-- /.rate__label -->
                        </div>
                        <!-- /.rate__box-btn -->
                    </div>
                    <!-- /.rate__box -->
                </div>
                <!-- /.rate__container -->
                <button type="submit" disabled class="general__next">Davom etish</button>
            </form>
            <!-- /.payment -->
        </div>
        <!-- /.general__container -->
    </section>
    <!-- /.section__payment -->
</div>
<!-- /.wrapper -->


<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/inputmask.min.js"></script>
<script src="../js/aos.js"></script>
<script src="../js/main.js"></script>
</body>
</html>